@model ArriendoTemporada.Negocio.Reserva

@{
    ViewBag.Title = "Create";
}

<h2>Crear Reserva</h2>

@using (Html.BeginForm())
{
    //@Html.HiddenFor(r => r.Cliente_Id, new { Cliente_Id = User.Identity.Name })


    /*@Html.LabelFor(r => r.Cliente_Id, "Cliente")
    @Html.DropDownListFor(r => r.Cliente_Id, new SelectList(ViewBag.cliente, "Id", "Nombre"))
    <br />*/

    @Html.LabelFor(r => r.Fecha_Inicio, "Fecha Inicial")
    @Html.TextBoxFor(r => r.Fecha_Inicio, new { type = "date" })
    <br />
    @Html.LabelFor(r => r.Fecha_Fin, "Fecha Termino")
    @Html.TextBoxFor(r => r.Fecha_Fin, new { type = "date" })
    <br />
    @Html.LabelFor(r => r.Estado)
    @Html.TextBoxFor(r => r.Estado)
    /*@Html.DropDownListFor(r => r.Estado, new SelectList(0 = "Disponible", 1 = "No Disponible"))*/
    /*<select id="r.Estado">
        <option value="1">Disponible</option>
        <option value="2">No Disponible</option>
    </select>*/
    <br />

    <button>Guardar</button>


}