@model ArriendoTemporada.Negocio.Reserva
@{
    ViewBag.Title = "Create";
}

<h2>Crear Reserva</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(r => r.Cliente_Id, "Cliente")
    @Html.DropDownListFor(r => r.Cliente_Id, new SelectList(ViewBag.cliente, "Id", "Nombre"))
    <br />

    @Html.LabelFor(r => r.Fecha_Inicio, "Fecha Inicial")
    @Html.TextBoxFor(r => r.Fecha_Inicio, new { type = "date" })
    <br />
    @Html.LabelFor(r => r.Fecha_Fin, "Fecha Termino")
    @Html.TextBoxFor(r => r.Fecha_Fin, new { type = "date" })
    <br />
    @Html.LabelFor(r => r.Estado)
    @Html.TextBoxFor(r => r.Estado)
    <br />

    <button>Guardar</button>

    
}