@model ArriendoTemporada.Negocio.Reserva
@{
    ViewBag.Title = "Edit";
}

<h2>Crear Reserva</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(r => r.Id)

    @Html.LabelFor(r => r.Cliente_Id, "Cliente")
    @Html.DropDownListFor(r => r.Cliente_Id, new SelectList(ViewBag.cliente, "Id", "Nombre"))
    <br />

    @Html.LabelFor(r => r.Fecha_Inicio)
    @Html.TextBoxFor(r => r.Fecha_Inicio)
    <br />
    @Html.LabelFor(r => r.Fecha_Fin)
    @Html.TextBoxFor(r => r.Fecha_Fin)
    <br />
    @Html.LabelFor(r => r.Estado)
    @Html.TextBoxFor(r => r.Estado)
    <br />

    <button>Guardar</button>


}