@using ArriendoTemporada.Negocio

@{
    ViewBag.Title = "Index";
}

<h2>Cliente</h2>


@{ List<Cliente> clientes = (List<Cliente>)ViewBag.clientes; }
@Html.ActionLink("Crear Cliente", "Create")

<table>
    <tr>
        <th>Rut Cliente</th>
        <th>Pasaporte</th>
        <th>Contraseña</th>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>Numero Celular</th>
        <th>Correo</th>
        <th>Nacionalidad</th>
        <th>Cliente Frecuente</th>
        <th>Estado Cliente</th>
        <th>Opciones</th>
    </tr>

    @foreach (var cliente in clientes)
    {
<tr>
    <td>@cliente.Rut_Cliente</td>
    <td>@cliente.Pasaporte</td>
    <td>@cliente.Passwrd</td>
    <td>@cliente.Nombre</td>
    <td>@cliente.Apellido_P</td>
    <td>@cliente.Apellido_M</td>
    <td>@cliente.Num_Celular</td>
    <td>@cliente.Correo</td>
    <td>@cliente.Nacionalidad</td>
    <td>@cliente.Cliente_Frecuente</td>
    <td>@cliente.Estado_Cliente</td>
    <td>
        @Html.ActionLink("Inhabilitar", "Delete", new { id = cliente.Id })
        @Html.ActionLink("Editar", "Edit", new { id = cliente.Id })
    </td>
</tr>
    }



</table>

@TempData["mensaje"]