@model ArriendoTemporada.Negocio.Reserva

@{
    ViewBag.Title = "Create";
}

<h2>Crear Reserva</h2>

@*<p>@Session["cliente_id"]</p>
<p>@Session["id_depto"]</p>*@

@using (Html.BeginForm())
{
    @Html.HiddenFor(r => r.Cliente_Id, new { @Value = Session["cliente_id"] })

    @Html.LabelFor(r => r.Fecha_Inicio, "Fecha Inicial")
    @Html.TextBoxFor(r => r.Fecha_Inicio, new { type = "date", @class = "fechaInicio" })
    <br />
    @Html.LabelFor(r => r.Fecha_Fin, "Fecha Termino")
    @Html.TextBoxFor(r => r.Fecha_Fin, new { type = "date", @class = "fechaFin" })
    <br />
    @Html.HiddenFor(r => r.Estado, new { @Value = "PAGADO" })
    <br />
    



    <button>Guardar</button>
}

<script>
function ValidarFechas()
{
   var fechainicial = document.getElementById("FechaInicio").value;
   var fechafinal = document.getElementById("FechaFin").value;

   if(Date.parse(fechafinal) < Date.parse(fechainicial)) {

   alert("La fecha final debe ser mayor a la fecha inicial");
}
</script>