@model ArriendoTemporada.Negocio.Reserva

@{
    ViewBag.Title = "Edit";
}

<h2>Editar Reserva</h2>

@using (Html.BeginForm())
{
    @*@Html.HiddenFor(r => r.Id, new { @Value = Session["reserva_id"] })*@


    @Html.LabelFor(r => r.Fecha_Inicio, "Fecha Inicial")
    @Html.TextBoxFor(r => r.Fecha_Inicio, new { type = "date", @class = "fechaInicio" })
    <br />
    @Html.LabelFor(r => r.Fecha_Fin, "Fecha Termino")
    @Html.TextBoxFor(r => r.Fecha_Fin, new { type = "date", @class = "fechaFin" })
    <br />
    @*@Html.LabelFor(r => r.Estado, "Estado")
    @Html.TextBoxFor(r => r.Estado, new { @Value = "CANCELADO" })*@
    @Html.HiddenFor(r => r.Estado, new { @Value = "MODIFICADO" })

    @Html.HiddenFor(r => r.Cliente_Id, new { @Value = Session["cliente_id"] })



    <button>Guardar</button>
}