@using ArriendoTemporada.Negocio


@{
    ViewBag.Title = "Index";
}

<h2>Reservas</h2>
@Html.ActionLink("Reservar", "Create", "Reserva")
@Html.ActionLink("Detalle", "Details", new { cliente_id = Session["cliente_id"] })

@*
    @Html.ActionLink("Ver reservas", "Index", "Reserva")
*@

@{ List<Reserva> reservas = (List<Reserva>)ViewBag.reserva; }

<table>
    <tr>
        @*<th>ID Reserva</th>*@
        <th>Cliente</th>
        <th>Fecha Inicio</th>
        <th>Fecha Termino</th>
        @*<th>Estado</th>*@
        <th>Opciones</th>
    </tr>

    @foreach (var reserva in reservas)
    {
        <tr>
            @*<td>@reserva.Id</td>*@
            <td>@reserva.Cliente.Nombre</td>
            <td>@reserva.Fecha_Inicio</td>
            <td>@reserva.Fecha_Fin</td>
            @*<td>@reserva.Estado</td>*@
            <td>
                @Html.ActionLink("Eliminar", "Delete", new { id = reserva.Id })
                @Html.ActionLink("Editar", "Edit", new { id = reserva.Id })
            </td>
        </tr>
    }
</table>

@TempData["mensaje"]