@using ArriendoTemporada.Negocio;
@{
    ViewBag.Title = "Index";
}

@{ List<Servicio> servicio = (List<Servicio>)ViewBag.servicio; }
@{ List<Reserva> r = (List<Reserva>)ViewBag.reserva; }

<table>
    <tr>
        <th>id reserva</th>
        <th>id servicio</th>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Fecha Inicio</th>
        <th>Fecha Termino</th>
        <th>Punto Reunión</th>
        <th>Valor</th>
        <th>Recorrido</th>
        <th>Vehiculo</th>
        <th>Chofer</th>
        <th>Cupo</th>

        <th>Opciones</th>
    </tr>

    @foreach (var s in servicio)
    {
        <tr>
            <td>@Session["reserva_id"]</td>
            <td>@(Session["servicio_id"] = s.Id_Servicio)</td>
            <td>@s.NombreServ</td>
            <td>@s.TipoServ</td>
            <td>@s.HorarioInicioServ.ToString("dd/MM")</td>
            <td>@s.HorarioFinServ.ToString("dd/MM")</td>
            <td>@s.PuntoReunionServ</td>
            <td>@s.ValorServ</td>
            <td>@s.RecorridoServ</td>
            <td>@s.VehiculoServ</td>
            <td>@s.ChoferServ</td>
            <td>@s.CupoServ</td>

            <td>
                @Html.ActionLink("Solicitar", "Reserva_Servicio", "Reserva", new { reserva_id = @Session["reserva_id"], servicio_id = @Session["servicio_id"] }, null)
            </td>
        </tr>
    }
</table>

