@using ArriendoTemporada.Negocio;
@{
    ViewBag.Title = "Index";
}

@{ List<Servicio> servicio = (List<Servicio>)ViewBag.servicio; }

<table>
    <tr>
        <th>Nombre</th>
        <th>Tipo</th>
        <th>Hora Inicio</th>
        <th>Hora Termino</th>
        <th>Punto Reunión</th>
        <th>Valor</th>
        <th>Recorrido</th>
        <th>Vehiculo</th>
        <th>Chofer</th>
        <th>Cupo</th>

        <th>Opciones</th>
    </tr>

    @foreach (var s in servicio)
    {
<tr>
    <td>@s.NombreServ</td>
    <td>@s.TipoServ</td>
    <td>@s.HorarioInicioServ.ToString("HH:MM")</td>
    <td>@s.HorarioFinServ.ToString("HH:MM")</td>
    <td>@s.PuntoReunionServ</td>
    <td>@s.ValorServ</td>
    <td>@s.RecorridoServ</td>
    <td>@s.VehiculoServ</td>
    <td>@s.ChoferServ</td>
    <td>@s.CupoServ</td>

    <td>
        @Html.ActionLink("Reservar", "Create", "Reserva")
    </td>
</tr>
    }
</table>

